.services {
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.services-heading h2 {
    font-size: 50px;
    color: #002e6e;
    margin-bottom: 60px;
    padding-top: 10%;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    font-weight: bolder;
}
  
.services-heading h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #f06f05;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}
  

.services-heading p {
    text-align: center;
}

.service-row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
}

.service {
    text-align: center;
    padding: 25px 10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: background 0.5s ease, transform 0.3s ease;
}

.service-icon {
    font-size: 30px;
    margin-bottom: 10px;
    color: #f06f05;
    align-items: center;
    transition: color 0.5s ease;
}

.service h3 {
    font-weight: 500;
    margin-bottom: 8px;
}

.service:hover {
    background: linear-gradient(145deg, #f8a782, #f9b99b);
    box-shadow: 2px 2px 2px #f2611e;
    transition: color 0.5s ease;
    transform: scale(1.05);
}

.service:hover .service-icon {
    color: #002e6e;
}