.product-container {
    padding: 0;
    margin: 0;
}

.product-title {
    text-align: left;
    color: #03254c;
    font-size: 20px;
}

.product-table {
    width: 70%;
    position: absolute;
    border-collapse: collapse;
    align-items: center;
    left: 20%;
}

td, th {
    padding: 15px 10px;
}

.product-table th {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.product-listing-table td {
    text-align: left;
}

tr:nth-child(odd){
    background-color: #D3D3D3;
}