.product-container {
    padding: 20px;
    margin: 0 auto;
    border-radius: 20%;
    background-color: white;
    left: 10%;
    right: 10%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
  
.add-product-button {
    background-color: #03254c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.product-title {
    text-align: left;
    color: #03254c;
    font-size: 30px;
    font-weight: bold;
}

.product-table {
    width: 70%;
    position: absolute;
    border-collapse: collapse;
    left: 20%;
}

td, th {
    padding: 15px 10px;
}

.product-table th {
    background-color: #5a5f83;
    color: #fff;
    text-align: center;
}

.product-listing-table td {
    text-align: left;
}

.product-table tr {
    border-bottom: 1px solid #ddd;
}

tr:nth-child(odd){
    background-color: #D3D3D3;
}