* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.login-container {
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 32%;
    transform: translate(0, -50%);
    width: 300px;
    background-color: #d3d3d3;
    box-shadow: 2px 2px 10px rgba(123, 159, 238, 0.804);
    border-radius: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  color: white;
  border: none;
  outline: none;
  font-size: 15px;
  border-bottom: 2px solid #f06f05;
  background: transparent;
}

.login-container input[type="submit"] {
    color: white;
    padding: 5px 7px;
    background: #f06f05;
    cursor: pointer;
    border-radius: 15px;
}
