.search-box {
    display: flex;
    align-items: center;
    width: 30%;
}
  
.search-input {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #393838;
    border-radius: 4px;
}
  
.search-input:focus {
    outline: none;
    border-color: #002e6e;
    box-shadow: 0 0 5px #ddeaf686;
}