.add-product-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}